
      <div class="col-ss-12 hm-bottom purple">
        <div class="container">
           
            <div class="featured-boxes">
                <div class="box-tab">
                    <button id="set_1" class="getDefoult" onclick="viewTab(1);">Home</button>
                    
                    <button id="set_2" class="active getDefoult" onclick="viewTab(2);">Places Visited</button>
                    <button id="set_3" class="getDefoult" onclick="viewTab(3);">Locations</button>
                    <button id="set_4" class="getDefoult" onclick="viewTab(4);">Driving</button>
               </div>     
                    
                </div>
                
                </div>
             
 <div>
 
 <br>

 
 
 
 </div>               
                
<form>
<div>
Summary<img width="20" heignt="20" alt="Summary" src="/tidels/resources/img/arrow.png" ng-click="setSummary();">
&nbsp&nbsp&nbsp&nbsp&nbsp
Calender<img width="20" heignt="20" alt="Summary" src="/tidels/resources/img/arrow.png" ng-click="setCalender();">
&nbsp&nbsp&nbsp&nbsp&nbsp
Ref Date

 <input type="text" id="date1">


<span ng-show="view=='summary'">
<h2>
                <a href="/#/placesvisited&timeperiod=daily/">Today&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/days7/">7 Days&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/weeks4/">4 Weeks&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/months6/">6 Months&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/months12/">12 Months&nbsp&nbsp&nbsp&nbsp&nbsp</a>

 </h2>  
 </span>
 <span ng-show="view=='calender'">
<h2>
                <a href="/#/placesvisited&timeperiod=daily/">Daily&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/days7/">Weekly&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/weeks4/">monthly&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/months6/">Half Yearly&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/months12/">Yearly&nbsp&nbsp&nbsp&nbsp&nbsp</a>

 </h2>  
  </span>
   
 <h3>
 
                <a href="/tidels/placesvisited/${timePeriod}/"  class="active getDefoult" >Dashboard&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <a href="/tidels/placesvisited/${timePeriod}chart/">Chart&nbsp&nbsp&nbsp&nbsp&nbsp</a>
</h3>


<br> 

